@import "./tailwind";
@import "./main";

// GLOBAL Styles
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --header-bg: #121414;
  --main-bg: #171b1a;
}

header {
  background-color: var(--header-bg);
  box-shadow: 0 10px 25px #222;
}
main {
  background-color: var(--main-bg);
  box-shadow: 0 10px 25px #222;
}

#designer {
  writing-mode: vertical-lr;
}
.rotated-div {
  background: linear-gradient(135deg, #444 0%, #000 40%)
}